@media (min-width: 768px) {
    .headline {
        font-size: 49px;
    }

    .text {
        font-size: 24px;
    }

    .bottom-button {
        width: 14.375rem;
    }

    .wrapper-header {
        height: 43.75rem;
    }
}