* {
    padding: 0;
    margin: 0;
}

/* .container-fluid {
   padding: 0;
} */

.wrapper {
    min-height: 500px;
    background-image: url(../img/desktop-bg.jpg);
    background-size: cover;
    background-position: center;
}

.login, .signup {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}